.nav-prac{
    background-color: red;
    width: 100%;
    height: 80px;
}
.main-section{
    display: flex;
    background-color: green;
    width: 900px;
    margin: 50px auto;
    height: 400px;
}
.main-section>.mainimg{
    background-color: yellow;
    width: 65%;
}
.windows{
    display: flex;
    justify-content: space-around;
    width: 900px;
    background-color: yellow;
    color: black;
    margin: 0 auto;
}
.info{
    background-color: blue;
    width: 30%;
    height: 200px;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info>.un{
    width: 100%;
    height: 50%;
    background-color: purple;
}
.info>.dos{
    width: 100%;
    height: 50%;
    background-color: pink;
}